.home {
  a {
    display: block;
    text-decoration: none;
    cursor: pointer;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    &:last-of-type {
      margin-bottom: 4rem;
    }

    strong {
      display: block;
      font-size: 1.75rem;
      margin-bottom: 0.5rem;
      line-height: 2rem;
      transition: color 0.2s;
    }

    p {
      color: var(--body);
      margin-bottom: 1.125rem;
      line-height: 1.625rem;
    }

    &:hover strong {
      color: var(--highlight);
    }
  }

  .button {
    background: transparent;
    color: var(--highlight);
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 0 calc(4rem - 1.75rem);
  }
}
